<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen"> 
    <script src="js/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.galleriffic.js" type="text/javascript"></script>
    <script src="js/jquery.opacityrollover.js" type="text/javascript"></script>      
	<!--[if lt IE 7]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"  alt="" /></a>
        </div>
	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body id="page1">
	<!--==============================header=================================-->
    <header>
		<div class="row_white"></div>
    	<div class="row-1">
        	<div class="main mainhead">
            	<div class="container_12">
                	<div class="grid_12">
                    	<nav>
                            <ul class="menu">
		<!--vertical strip-->	<li class="vertical_strip"></li>
								
                                
								<li class="menu_img index_img"><a class="active" href="index.html"></a></li>
								<li class="li"><a class="active" href="index.html">&nbsp;&nbsp;Главная</a></li>
								
		<!--vertical strip-->	<li class="vertical_strip"></li>
								
								<li class="menu_img catalog_img" ><a class="menu_img" href="catalog.html"></a></li>
								<li class="li"><a href="catalog.html">Каталог</a></li>
								
								
		<!--vertical strip-->	<li class="vertical_strip"></li>
								
								<li class="li"><a href="index.html">&nbsp;</a></li>
								
		<!--vertical strip-->	<li class="vertical_strip"></li>
                                
								
								<li class="menu_img articles_img"><a class="menu_img" href="articles.html"></a></li>
								<li class="li"><a href="articles.html">&nbsp;&nbsp;&nbsp;&nbsp;Статьи</a></li>
								
		<!--vertical strip-->	<li class="vertical_strip"></li>
								
								
								<li class="menu_img contacts_img"><a class="menu_img" href="contacts.html"></a></li>
								<li class="li"><a href="contacts.html">&nbsp;&nbsp;&nbsp;Контакты</a></li>
								
		<!--vertical strip-->	<li class="vertical_strip"></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="clear"></div>
				<div class="logo">
					<img src="images/logo.png" usemap = "#nameMap" alt="logo"/>
					<map name="nameMap">
						<area href="index.html" shape="poly" coords="122,1, 173,8, 217,36, 241,92, 225,141,185,172, 137,186, 97,184, 57,172,25,148, 6,121, 4,81, 21,41, 53,17,85,5,115,1"/>
					</map>
				</div>
            </div>
        </div> 
		<div class="row_white"></div>
		
    </header><div class="ic"><div class="inner_copy">Все, что вам нужно <a href='http://www.coolicon.ru/' title='Блог об иконках'>знать об иконках.</a></div></div>
    
<!-- content -->
    <section id="content">
        <div class="bg-top">
        	<div class="bg-top-2">
                <div class="bg">
                    <div class="bg-top-shadow">
                        <div class="main">
                            <div class="box">
                                <div class="padding">
                                    <div class="catalog">
										
										<h3>Вызов замерщика 068 405 62 08</h3>
										<div class="clear"></div>
										<div class="container_12">
											<div class="category1">
												<div class="preview"></div>
												<h2 class="category_h2">Детские</h2>
												<a class="follow_btn" href="#">
													<span>Далее...</span>
												</a>
											</div>
											<div class="category2">
												<div class="preview"></div>
												<h2 class="category_h2">Гостинные</h2>
												<a class="follow_btn" href="#">
													<span>Далее...</span>
												</a>
											</div>
											<div class="category3">
												<div class="preview"></div>
												<h2 class="category_h2">Шкафы-купе</h2>
												<a class="follow_btn" href="#">
													<span>Далее...</span>
												</a>
											</div>
											<div class="category4">
												<div class="preview"></div>
												<h2 class="category_h2">Прихожие</h2>
												<a class="follow_btn" href="#">
													<span>Далее...</span>
												</a>
											</div>
											<div class="category5">
												<div class="preview"></div>
												<h2 class="category_h2">Кровати</h2>
												<a class="follow_btn" href="#">
													<span>Далее...</span>
												</a>
											</div>
											<div class="category6">
												<div class="preview"></div>
												<h2 class="category_h2">Раздвижные<br />системы</h2>
												<a class="follow_btn" href="#">
													<span>Далее...</span>
												</a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        
    </section>
    
	<!--==============================footer=================================-->
    <footer>
        <div class="main">
        	<div class="container_12">
            	<div class="wrapper">
                	<div class="grid_3">
						<p class="adress">ул. Стартовая, 9а,<br>ТЦ "Новая Линия",<br>2 этаж</p>
<!--						<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=UNEWELn83figqCs9FF2iSgrj7-t6pXiw&width=200&height=150"></script> -->
						<div class="map_icon">
							<p><a href="contacts.html">Подробнее</a></p>
						</div>
					</div>
                    <div class="grid_3">
						<p class="adress">ул. Курчатова, 7,<br>ТЦ "Курчатовский",<br>2 этаж</p>
						
						<div class="map_icon">
							<p><a href="contacts.html">Подробнее</a></p>
						</div>
                    </div>
                    <div class="grid_3">
						<p class="adress">ул. Наб. Победы 86-а,<br>ТЦ "Новый континент",<br>2 этаж</p>
						<div class="map_icon">
							<p><a href="contacts.html">Подробнее</a></p>
						</div>
                    </div>
                    <div class="grid_3">
						<p class="adress">ул. Стартовая, 9а,<br>ТЦ "Новая Линия",<br>2 этаж</p>
						<div class="map_icon">
							<p><a href="contacts.html">Подробнее</a></p>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript">
			$(window).load(function() {
			// We only want these styles applied when javascript is enabled
			$('div.navigation').css({'width' : '320px', 'float' : 'right'});
			$('div.content').css('display', 'block');
	
			// Initially set opacity on thumbs and add
			// additional styling for hover effect on thumbs
			var onMouseOutOpacity = 0.5;
			$('#thumbs ul.thumbs li span').opacityrollover({
				mouseOutOpacity:   onMouseOutOpacity,
				mouseOverOpacity:  0.0,
				fadeSpeed:         'fast',
				exemptionSelector: '.selected'
			});
			
			// Initialize Advanced Galleriffic Gallery
			var gallery = $('#thumbs').galleriffic({
				delay:                     7000,
				numThumbs:                 12,
				preloadAhead:              6,
				enableTopPager:            false,
				enableBottomPager:         false,
				imageContainerSel:         '#slideshow',
				controlsContainerSel:      '',
				captionContainerSel:       '',
				loadingContainerSel:       '',
				renderSSControls:          true,
				renderNavControls:         true,
				playLinkText:              'Play Slideshow',
				pauseLinkText:             'Pause Slideshow',
				prevLinkText:              'Prev',
				nextLinkText:              'Next',
				nextPageLinkText:          'Next',
				prevPageLinkText:          'Prev',
				enableHistory:             true,
				autoStart:                 7000,
				syncTransitions:           true,
				defaultTransitionDuration: 900,
				onSlideChange:             function(prevIndex, nextIndex) {
					// 'this' refers to the gallery, which is an extension of $('#thumbs')
					this.find('ul.thumbs li span')
						.css({opacity:0.5})
				},
				onPageTransitionOut:       function(callback) {
					this.find('ul.thumbs li span').css({display:'block'});
				},
				onPageTransitionIn:        function() {
					this.find('ul.thumbs li span').css({display:'none'});
				}
			});
		});
	</script>
</body>
</html>
