<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>







<section id="content">
    <div class="bg-top">
        <div class="bg-top-2">
            <div class="bg">
                <div class="bg-top-shadow">
                    <div class="main">
                        <div class="box">
                            <div class="padding">
                                <div class="catalog">


                                    <h3>Вызов замерщика 068 405 62 08</h3>
                                    <div class="clear"></div>

                                    [!Wayfinder? startId=`2` &outerTpl=`outerTpl` &rowTpl=`rowTpl` &rowIdPrefix=`item` &level=`2` &innerTpl=`innerTpl` &innerRowTpl=`innerRowTpl`!]

                                    outerTplCatalog:
                                              <ul class="container_12"[+wf.classes+]>
                                                [+wf.wrapper+]
                                              </ul>

                                    rowTplCatalog:
                                             <li class="category1" [+wf.id+]>
                                                      <a class="preview" [+wf.classes+] href="[+wf.link+]">[+wf.linktext+]
                                                            <img src="assets/images/childroom/small/[+name_tv+]" width="245" height="190" alt="Изображение из альбома [*longtitle*]" title="Нажмите чтобы посмотреть увеличенное изображение" />
                                                      </a>
                                                      [+wf.wrapper+]
                                                      <h2 class="category_h2">[*pagetitle*]</h2>
                                                      <a class="follow_btn" href="[+wf.link+]"><span>Далее...</span></a>
                                             </li>

                                    [+name_tv+]
                                    <ul class="container_12">
                                        <li class="category1">
                                            <a class="preview" href="[~7~]">
                                                <img src="assets/images/childroom/small/[*img_gallery1*]" width="245" height="190" alt="Изображение из альбома [*longtitle*]" title="Нажмите чтобы посмотреть увеличенное изображение" />
                                            </a>
                                            <h2 class="category_h2">Детские</h2>
                                            <a class="follow_btn" href="[~7~]"><span>Далее...</span></a>
                                        </li>

                                        <li class="category2">
                                            <a class="preview" href="[~6~]">
                                                <img src="assets/images/livingroom/small/[*img_gallery2*]" width="245" height="190" alt="Изображение из альбома [*longtitle*]" title="Нажмите чтобы посмотреть увеличенное изображение"  />
                                            </a>
                                            <h2 class="category_h2">Гостинные</h2>
                                            <a class="follow_btn" href="[~6~]">
                                                <span>Далее...</span>
                                            </a>
                                        </li>

                                        <li class="category3">
                                            <a class="preview" href="[~9~]">
                                                <img src="assets/images/closet/small/[*img_gallery3*]" width="245" height="190" alt="Изображение из альбома [*longtitle*]" title="Нажмите чтобы посмотреть увеличенное изображение"  />
                                            </a>
                                            <h2 class="category_h2">Шкафы-купе</h2>
                                            <a class="follow_btn" href="[~9~]">
                                                <span>Далее...</span>
                                            </a>
                                        </li>

                                        <li class="category4">
                                            <a class="preview"></a>
                                            <h2 class="category_h2">Прихожие</h2>
                                            <a class="follow_btn" href="#">
                                                <span>Далее...</span>
                                            </a>
                                        </li>

                                        <li class="category5">
                                            <a class="preview"></a>
                                            <h2 class="category_h2">Кровати</h2>
                                            <a class="follow_btn" href="#">
                                                <span>Далее...</span>
                                            </a>
                                        </li>

                                        <li class="category6">
                                            <a class="preview"></a>
                                            <h2 class="category_h2">Раздвижные системы</h2>
                                            <a class="follow_btn" href="#">
                                                <span>Далее...</span>
                                            </a>
                                        </li>

                                        <div class="clear"></div>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








</body>
</html>








cata